# ==========================================================
# DESCRIPTION
# ==========================================================
# Defines expected environment variables that should exist.
# Used during integrity check to make sure all the required
# variables are set.
# Use this as a template to create localhost settings.
#



## Databases related environment variables
## ======================================

# Postgresql main database
MAIN_DB_USER="root"
MAIN_DB_PASS="toor"
MAIN_DB_NAME="db1"
MAIN_DB_PORT=5432
MAIN_DB_HOST="localhost" # use db1 when running in Docker
MAIN_DB_MAX_CONNECTIONS=100
POSTGRES_POOL_MAX=100

# -----------------------------------------
# -- USER ACCOUNTS SERVICE CONFIGURATION --
# -----------------------------------------

USER_ACCOUNT_SERVICE_API_PORT=7050
USER_ACCOUNT_SERVICE_IDENTIFIER="c.example.match-it.user-account-service"
USER_ACCOUNT_SERVICE_HOST="localhost"

    ## mail verification
    VERIFICATION_MAIL_DATA_KEY=your_mail_verification_key # the key used for verification token symmetric encryption, must be 32 bytes long (for AES-256)
    VERIFICATION_TIME_OUT=24 # timeout for successful user verification in hours
    BYPASS_EMAIL_VERIFICATION=1 # skip email verification for the new users
    VERIFICATION_MAIL_SENDER="andrew@example.com"

EMAIL_MAILGUN_API_KEY=your_mailgun_api_key

## gallery settings
# =================
IMAGE_UPLOAD_SERVER="local" # where to upload user images, local == server it self, gcs == google cloud store, ...
GALLERY_BASE_URL="http://localhost:7050" # emulator: use 10.0.2.2, LAN emulator & device: use 192.168.x.x
MAX_PROFILE_PICTURE_SIZE=1048576 # max profile picture size in bytes

MINIMAL_PASSWORD_STRENGTH_LVL=2 # the minimal score value for the zxcvbn library password strength verification (choose 1-3)

## Access & refresh tokens
## =======================

# Access & refresh tokens symmetric keys for encryption
ACCESS_TOKEN_SECRET=your_secret_key_for_access_token
REFRESH_TOKEN_SECRET=your_secret_key_for_refresh_token

# Access & refresh tokens expiration times
ACCESS_TOKEN_EXPIRATION_TIME=30d
REFRESH_TOKEN_EXPIRATION_TIME=30d

# ---------------------------------------------
# -- MATCHING SESSIONS SERVICE CONFIGURATION --
# ---------------------------------------------

MATCHING_SESSIONS_SERVICE_API_PORT=8050
MATCHING_SESSIONS_SERVICE_IDENTIFIER="c.example.match-it.matching-sessions-service"
MATCHING_SESSIONS_SERVICE_HOST="http://localhost"
APP_CLIENT_UUID="d689a2d9-d39c-4d8b-b795-3a6fa78a543b"

SESSION_CREATION_TIMEOUT_MS=300000 # max session invitation timeout in milliseconds
SESSION_MAX_DURATION_MS=3600000 # max session duration in milliseconds

MAX_USERS_PER_SESSION=10  #  max number of users in session

# Base url for the API of ACTIVITY RECOMMENDATION SYSTEM SERVICE - NOTE: this may or may not be same as ACTIVITY_RECOMMENDATION_SYSTEM_HOST !!
# (depending whether the app is running in docker or in production)
ACTIVITY_RECOMMENDATION_SYSTEM_API_BASE_URL="http://activity-recommendation-system:9070"

# --------------------------------------
# -- FRIENDSHIP SERVICE CONFIGURATION --
# --------------------------------------

FRIENDSHIP_SERVICE_API_PORT=9050
FRIENDSHIP_SERVICE_IDENTIFIER="c.example.match-it.friendship-service"
FRIENDSHIP_SERVICE_SERVICE_HOST="http://localhost"

# --------------------------------------------------
# -- ACTIVITY RECOMMENDATION SYSTEM CONFIGURATION --
# --------------------------------------------------

ACTIVITY_RECOMMENDATION_SYSTEM_PORT=9070
ACTIVITY_RECOMMENDATION_SYSTEM_IDENTIFIER="c.example.match-it.activity-recommendation-service"
ACTIVITY_RECOMMENDATION_SYSTEM_HOST="http://localhost"

RECSYS_MESSAGING_SERVICE_TOKEN=your_recsys_api_key # security API added to HTTP header as Bearer token when requesting recommendations
RECOMMENDATION_SERVICE_HOST="activity-recommendation-system"

# -----------------------------
# -- GENERAL GLOBAL SETTINGS --
# -----------------------------

IS_DEV=1 # is the app running in dev mode (for debugging purposes)

SKIP_INTERNAL_AUTH=0 # e.g. for dev environment we want to skip internal authentication

USES_SSL=0 # is SSL required to access services endpoints

SUDO_API_KEY=your_admin_key # special api key for admin operations access

## External API authentication data
# =================================

## Google places API key
GOOGLE_PLACES_API_KEY=your_google_places_api_new_api_key
TMDB_API_KEY=your_tmdb_api_key
PLACES_PHOTO_CLEANUP_ENABLED=0
GCS_BUCKET_PLACES_PHOTOS_NAME="match-it-places-photos"
PLACES_PHOTOS_GALLERY_BASE_URL="http://localhost:9070" # emulator: use 10.0.2.2, LAN emulator & device: use 192.168.x.x
PLACES_PHOTOS_UPLOAD_SERVER="local"


### Firebase authentication
FIREBASE_APPLICATION_CREDENTIALS="./config/credentials/firebase.json" # specification of the firebase application credentials
FIREBASE_CREDENTIALS_JSON="" # direct input for the firebase credentials file data (e. g. for production)