**/node_modules
**/test-images
**/venv
**/rabbit-mq/lib
**/launch.json
*.code-workspace
*.DS_store
**/.env.prod
**/.env.dev
**/.env.test
**/*.jpg
**/*.png
*.pyc
*.pkl
**/logs/*.log
**/*.code-workspace
**/datasets/
tools/data/movies/dataset/
tools/data/movies/out/
tools/data/restaurants/out/
.env.dev
.env.prod
.env.test
**/config/credentials/*
!**/config/credentials/README
.vscode
*.log
